/*Changed From C Disk*/
.main{
	width:1200px;
	margin: 0px auto;
	margin-top:5px;
	background-color: #72b1ff;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .5);
}
.menu{
	margin-bottom: 2px;
}
.menu > ul{
	width:100%;
	height: 50px;
	background-color:#FFF;
}
.menu > ul > li{
	width:18%;
	float: left;
	background-color: #72b1ff;
	list-style-type: none;
	border-radius: 2px;
	padding: 0%;
	margin: 1%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.menu > ul > li > a{
	display: block;
	width:100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color:#FFF;
	text-decoration: none;
	font-size: 1.1em;
	transition: all 0.3s;
}
.menu > ul > li > a:hover{
	font-size: 1.2em;
	transition: all 0.3s;
} 
.left-sidebar{
	width:180px;
	min-height: 200px;
	height: auto;
	margin: 5px;
	padding: 5px;
	text-align: center;
	float:left;
	background-color: #FFF;
	box-shadow:0px 0px 3px 1px rgba(100, 100, 100, .4);
	border-radius: 3px;
	color:#000;
}
.main-content{
	width:790px;
	padding: 5px;
	height: auto;
	min-height: 400px;
	border-radius: 1px;
	float:left;
	text-align: center;
	background-color:#FFF;
}
.main-content h1{
	font-size: 36px;
	font-weight: bold;
}
.main-content img{
	width:23%;
	margin: 1%;
	border-radius: 3px;
	height: 170px;
	float: left;
	cursor: pointer;
}
.right-sidebar{
	width:180px;
	min-height: 200px;
	height: auto;
	background-color: #FFF;
	margin: 5px;
	padding: 5px;
	float:left;
	box-shadow:0px 0px 3px 1px rgba(100, 100, 100, .4);
	border-radius: 3px;
	text-align: center;
	color:#000;
}
.footer{
	min-height: 50px;
	line-height: 50px;
	text-align: center;
	clear: both;
	margin:5px;
}
#img-full{
	position: absolute;
	display: none;
	top:0px;
	padding: 0;
	margin: 0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, .5);
	cursor: pointer;
}
#img-full > #description{
	position: absolute;
	bottom:12.5%;
	width: 75%;
	left: 12.5%;
	height:50px;
	background-color: rgba(0, 0, 0, .7);
	color: #FFF;
}
#img-full > #description > p{
	text-align: center;
	line-height: 50px;
	font-size:3em;
}
#img-full > img{
	position: absolute;
	top: 12.5%;
	left:12.5%;
	width: 75%;
	height: 75%;
}
@media only screen and (max-width: 800px) {
	.menu{
		display:inline-block;
		height:100%;
	}
	.menu ul{
		display:inline-block;
		height: auto;
	}
	.menu  ul  li {
		width: 100%;
		border-top: 1px solid #FFF;
		list-style-type: none;
		text-align: center;
		margin: 0px;
		border-radius: 0px;
	}
	.main{
		width:98%;
		height: auto;
	}
	.main-content > img{
		width: 98%;
		height:300px;
		float: none;
	}
	.left-sidebar, .right-sidebar, .main-content, .footer{
		float:none;
		width:96%;
		margin: 1%;
		padding: 1%;
	}
	#img-full > img{
		width: 90%;
		left: 5%;
		top:25%;
		height: 40%;
	}
	#img-full > #description{
		width: 90%;
		left:5%;
		top:55%;
		height:10%;
	}
	#img-full > #description > p{
		font-size:1.5em;
	}
}